*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    background-color: aliceblue;
}
#centre{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    /* background-color: black; */
    
}
.imagediv{
    position: absolute;
    width: 250px;
    height: 370px;
    overflow: hidden;
    background-color:  black;
}
.imagediv img{
    transform: translate();
    width: 100%;
    height: 100%;
    object-fit: cover;
}